.todo-list-background>.todo-list-container{
    width: 300px;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    background-color: #383737;
}
.todo-list-background>.todo-list-head{
    padding: 50px 0 10px 0;
    color: rgb(157, 25, 245);
}
.todo-list-background>.todo-list-container>.line{
    border-bottom: 1px solid #6b6969;
    padding: 10px;
}
.todo-list-background>.todo-list-container>.display-list{
    padding: 10px 0;
}
.todo-list-background{
    text-align: center;
    background:linear-gradient(30deg, #3a1d35,#3b2d2d,#363a1d,#3b2d2d);
    height: 100vh;
    color: white;
}